<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<ul id="editor-content-tabs" uk-tab>
   <li>
      <a href="#" title="add content"><span class="uk-icon-link" uk-icon="icon: plus"></a>
   </li>
   <li class="uk-active">
      <a href="#">Content</a>
   </li>
</ul>

<ul class="uk-switcher uk-margin" id="editor-content">
<li>
   <div id="editor-form-content-create" class="uk-card uk-margin-left uk-margin-right uk-form-horizontal">
      <h1 class="uk-card-title">Create</h1>
      <div class="uk-margin">
         <label class="uk-form-label" for="genre" >Genre</label>
         <div class="uk-form-controls">
            <input class="uk-input" value="" name="genre" size="40">
         </div>
      </div>
      <div class="uk-margin">
         <label class="uk-form-label" for="name" >Name</label>
         <div class="uk-form-controls">
            <input class="uk-input" value="" name="name" size="40">
         </div>
      </div>
      <div class="uk-margin">
         <label class="uk-form-label" for="type" >Type</label>
         <div class="uk-form-controls">
            <select class="uk-select" name="type-select">
                <option value="Article" selected>Article</option>
                <option value="ImageObject">Single Image</option>
            </select>
            <input class="uk-input" value="Article" name="type" size="40">
         </div>
      </div>
      <div class="uk-margin">
         <label class="uk-form-label" for="title" >Title</label>
         <div class="uk-form-controls">
            <input class="uk-input" value="" name="title" size="40">
         </div>
      </div>
      <button class="uk-button uk-button-default" id="editor-create-content">Create</button>
   </div>
</li>
<li>
<table id="editor-content-list" class="uk-table">
   <tr><th><a href="#" class="uk-icon-link editor-reload-content" uk-icon="icon: refresh" title="refresh"></a></th><th>Genre</th><th>Name</th><th>Type</th><th>Headline</th><td></td></tr>
</table>
</li>
</ul>
<div id="editor-notify" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 id="editor-notify-title" class="uk-modal-title uk-text-center">Woah!</h2>
        <p id="editor-notify-message" class="uk-text-center">Danger, Will Robinson, Danger!</p>
        <p class="uk-text-center">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
        </p>
    </div>
</div>
<div id="editor-add-part-dialog" uk-modal="center: true">
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Create Content Part</h2>
        </div>
        <div class="uk-modal-body uk-form-horizontal">
           <div class="uk-margin">
              <label class="uk-form-label" for="name" >Name</label>
              <div class="uk-form-controls">
                 <input class="uk-input" value="" name="name" size="40">
                 <span class="editor-message-name uk-text-center"></span>
              </div>
           </div>
           <div class="uk-margin">
              <label class="uk-form-label" for="type" >Type</label>
              <div class="uk-form-controls">
                <select class="uk-select" name="type-select">
                    <option value="text/html; charset=UTF-8" selected>HTML</option>
                    <option value="text/plain; charset=UTF-8">Text</option>
                    <option value="text/markdown; charset=UTF-8">Markdown</option>
                </select>
                <input class="uk-input" value="text/html; charset=UTF-8" name="type" size="40">
                <span class="editor-message-type uk-text-center"></span>
             </div>
          </div>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-primary editor-create" type="button">Create</button>
        </div>
    </div>
</div>

{% endblock %}
