<html>
<head>
   <title>Login</title>
   <link rel="stylesheet" href="/assets/css/uikit.min.css" />
   <script src="/assets/js/jquery-3.1.1.min.js"></script>
   <script src="/assets/js/uikit.min.js"></script>
   <style type="text/css">
   .uk-form-horizontal, .success {
      width: 400px;
      padding: 10px;
   }
   .uk-form-horizontal .uk-form-label {
      width: 5em;
      font-size: 1em;
   }
   .uk-form-horizontal .uk-form-controls {
      margin-left: 6em;
   }
   .submit {
      text-align: right;
   }
   </style>
   <script type="text/javascript">
   var username = '{{username}}';
   </script>
</head>
<body>
<main>

<div class="success">
<p>Login sucessful!</p>
</div>
</main>
</body>
</html>
