body {
}
#user-nav {
   position: fixed;
   top: 0px;
   right: 1em;
}

body > header {
   position: fixed;
   top: 0px;
   left: 0px;
   padding-left: 1em;
   width: 100%;
   border-bottom: 1px solid rgb(200,200,200);
   background-color: rgb(255,255,255);
   z-index: 100;
}
body > header > h1 {
   margin-bottom: -0.1825em;
}
body > main {
   clear: both;
   margin-top: 4em;
}

.uk-form-horizontal .uk-form-label {
   width: auto;
   font-size: 1em;
}

.uk-form-horizontal .uk-form-controls {
   margin-left: 10em;
}

#editor-form-content-create .uk-form-controls {
   margin-left: 5em;
}

#editor-form-content-create .uk-select {
   width: 10em;
}

#editor-form-content-create .uk-input[name=type-custom] {
   width: 30em;
}

.editor-content-item-menu {
   float: left;
   padding-left: 0.25em;
   width: 1.5em;
}

.editor-content-item {
   margin-left: 3em;
}

.editor-closer {
   margin-left: -0.5em;
}

.editor-properties-standard .uk-input[name=datePublished] {
   width: 20em;
}
